html, body {
    background-color: black;
    width: 99%;
    height: 120%;
}

/*header*/
.pol1{
    background-color: rgba(51,51,51,1);
    height: 60px;
    top:0px;
    left:0px;
    right:0px;
    position:absolute;
}
.textnaz{
    color:white;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:20px;
    position:absolute;
}
.texttheme{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    right:20px;
    top:20px;
    position: absolute;
}

/*osnova*/
.photo {
    background-image:url(3RUFGsPT5CY.jpg);
	width:150px;
	height:200px;
	left:30px;
	top:90px;
    position: absolute;
}
.textname{
    color:white;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    font-size:24px;
    left:205px;
    top:100px;
}
.textexp{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:205px;
    top:140px;
    position: absolute;
}
.textO{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:205px;
    top:180px;
    width:300px;
    position: absolute;
}
.c-button{
    background-color: blue;
    width:450px;
    height:60px;
    position:absolute;
    right: 300px;
    top:160px;
    border-radius: 30px;
    border:0;
}
.c-button:hover{
    background-color: rgb(53, 53, 156);
}
.c-button:focus{
    outline:none;
    box-shadow: 0 0 0 2px #32158f;
}
.textbut{
    color:white;
    font-size:32px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
}
.textprim{
    color:white;
    font-size:32px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:600px;
    top:300px;
    position: absolute;
}
.textkatana{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:290px;
    top:350px;
    position: absolute;
}
.imagekatana{
    width:382px;
	height:216px;
	position:absolute;
	left:165px;
	top:400px;
	background-image:url(image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.textfacecheck{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    right:400px;
    top:350px;
    position: absolute;
}
.imagefacecheck{
	width:382px;
	height:252px;
	position:absolute;
	right:260px;
	top:380px;
	background-image:url(image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.textkatana1{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:160px;
    bottom:140px;
    position: absolute;
}
.textfacecheck1{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    right: 260px;
    bottom:70px;
    width:370px;
}
.textobo{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    right: 800px;
    bottom:20px;
}
.obr{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    left: 250px;
    bottom:-20px;
}
ul {
    list-style: square;
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    left: 100px;
    bottom:-140px;
}
.uvlop{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    right: 300px;
    bottom:-20px;
}
.uvlop1{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    right: 170px;
    bottom:-135px;
    width: 450px;
}
.usl{
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    left: 700px;
    bottom:-250px;
}
.txtusl1{
    background-color: rgba(51,51,51,1);
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    left: 100px;
    bottom:-320px;
    border-bottom: 2px solid white;
}
.txtusl2{
    background-color: rgba(51,51,51,1);
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    right: 250px;
    bottom:-320px;
    border-bottom: 2px solid white;
}
.txtusl3{
    background-color: rgba(51,51,51,1);
    color:white;
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0;
    position: absolute;
    left: 630px;
    bottom:-370px;
    border-bottom: 2px solid white;
}

/*footer*/
.pol2{
    background-color: rgba(51,51,51,1);
    height:60px;
    bottom:-500px;
    left:0px;
    right:0px;
    position:absolute;
}
.textkont{
    color:white;
    font-size:24px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:20px;
    bottom:-485px;
    position: absolute;
}
.textkont1{
    color:white;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:150px;
    bottom:-470px;
    position: absolute;
}
.textkont2{
    color:white;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0;
    left:150px;
    bottom:-490px;
    position: absolute;
}