* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.upper {
    background-color: rgba(45, 94, 255, 0.445);
    height: 70px;
}

.upper a {
    color: #d5dfff;
    text-decoration: none;
    font-size: 40px;
    margin-left: 50px;
}

.icecreamico {
    padding-top: 0px;
    padding-left: 15px;
    height: 70px;
    width: 80px;
    position: absolute;
}

#firstlist li {
    display: inline;
}

.item1 {
    background-image: url("банановое.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 15px;
}

h2 {
    color: rgb(255, 255, 255);
    margin-left: 50%;
    margin-top: 5%;
}

h3 {
    color: rgb(255, 255, 255);
    margin-left: 60%;
    margin-top: 10%;
}

.item2 {
    background-image: url("ванильное.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    background-position: -51px;
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 40%;
    margin-top: 2%;
    border-radius: 15px;
}

.item3 {
    background-image: url("карамельное.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 70%;
    margin-top: 2%;
    border-radius: 15px;
}

.item4 {
    background-image: url("клубничное.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 16%;
    border-radius: 15px;
}

.item5 {
    background-image: url("фисташковое.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 40%;
    margin-top: 16%;
    border-radius: 15px;
}

.item6 {
    background-image: url("шоколадное.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    background-position: -51px;
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 70%;
    margin-top: 16%;
    border-radius: 15px;
}

.item7 {
    background-image: url("тирамису.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 31%;
    border-radius: 15px;
}

.item8 {
    background-image: url("милкшейки.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 40%;
    margin-top: 31%;
    border-radius: 15px;
}

.item9 {
    background-image: url("напитки.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: rgba(45, 94, 255, 0.445);
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 70%;
    margin-top: 31%;
    border-radius: 15px;
}


.lower {
    background-color: rgba(45, 94, 255, 0.445);
    height: 70px;
    margin-top: 46%;
}


.text1 {
    position: absolute;
    margin-left: 6%;
    font-size: 30px;
    margin-top: 1%;
    color: azure;
}

.text2 {
    position: absolute;
    margin-left: 60%;
    font-size: 20px;
    color: azure;
}

.text3 {
    position: absolute;
    margin-left: 60%;
    margin-top: 1.6%;
    font-size: 20px;
    color: azure;
}

.text4 {
    position: absolute;
    margin-left: 70%;
    margin-top: 1.6%;
    font-size: 20px;
    color: azure;
}

.text5 {
    position: absolute;
    margin-left: 80%;
    margin-top: 1.6%;
    font-size: 20px;
    color: azure;
}